---
// Basic Giscus component for GitHub discussions
---
<div class="giscus-container">
  <script src="https://giscus.app/client.js"
        data-repo="fatahilah-mr/blog"
        data-repo-id="R_kgDOTdOLfQ"
        data-category="General"
        data-category-id="DIC_kwDOTdOLfc4DBhWa"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="id"
        crossorigin="anonymous"
        async>
  </script>
</div>
<style>
  .giscus-container { margin-top: 4rem; }
</style>
