---
interface Props {
  tag: string;
}
const { tag } = Astro.props;
---
<a href={`/tags/${tag}`} class="tag">#{tag}</a>

<style>
  .tag {
    color: var(--color-accent-light);
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: none;
  }
  .tag:hover {
    color: var(--color-accent);
    text-decoration: underline;
  }
</style>
